<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <title>1 page</title>
     
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <body >
           
            <img  src="static//images//image.png" alt="..." width="100%">
             <!-- id="testing" onLoad="randompicture()"--> 
            <!-- <script>
                function randompicture(){
                const i = Math.floor(Math.random() * 5) + 1;
                const path='images/image' +i+ '.png';
                console.log(path)
                document.getElementById("testing").setAttribute("style", "background-image: url(" + path +");background-repeat: no-repeat;background-size: 388px 388px");
                } -->
                <!-- // var s = document.createElement('script');
                 //
                // s.src = 'index.js';
                // document.body.appendChild(s); -->
            <!-- </script> -->
        </body>
    </head>
</html>